MYSQL_ROOT_PASSWORD='root_password'
MYSQL_HOST='mariadb-tiny'
MYSQL_PORT=3306

CELERY_BROKER_URL="redis://valkey-db:6379"
CELERY_RESULT_BACKEND="redis://valkey-db:6379"

COHERE_API_KEY=''
OPENAI_API_KEY=''
TAVILY_API_KEY=''

# Vietnamese Legal LLM API Configuration
VIETNAMESE_LLM_API_URL='http://3.90.175.145:6000/v1/chat/completions'